#services{
    flex-direction: column;
}
#navbar{
    flex-direction: column;
}
#home{
    height: 280px; 
    padding: 3px 68px;
    
}
#home::before{
     height: 195px; 
}
#home p{
    font-size: 13px;
}
.h-primary{
    font-size: 26px;
}
#navbar ul li a{
    font-size: 1rem;
    /* padding: 0px 7px; */
    
}
.btn{
    font-size: 13px;
    padding:4px 8px ;
}
#clients{
    flex-wrap:wrap ;
}